html{
    box-sizing:border-box;

}
.logo{
    display:flexbox;
    float:left;
    width:20%;
    padding-left:40px;
    padding-top:20px;
    font-family:Spectral;
    font-weight: bolder;
    font-size:x-large;
    color:black;
}

.spacing{
padding-left:30px;
padding-right:30px;
}

.links{
float:right;
padding-right:150px;
padding-top:13px;
}
body{
    background-color:black;
    color:white;
    margin:0px;
}
.navbar{
background-color: #FF8CC6;
width:100%;
height:70px;
position: fixed;
    top:0;
    overflow:hidden;


}

img{
width:auto;
height:auto;


}

#home{
    background-color:black;
    padding-top:300px;
    padding-bottom:27px;
    padding-left:150px;
    padding-right:120px;
    color:#ffdde2;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:300px;
   
}
.left{
    margin-top:-200px;
    float:left;
    width:60%;
   
    
}
.right{
    
   margin-top:-200px;
  float:right;
  padding-right:20px;
 }
.break{
    box-shadow: inset 0 12px 12px -12px rgba (0,0,0,0.5);
    margin-top:0px;
    width:100%;
    height:2px;
    background-color:#DE369D;
    border:none;
}


.line1{
    font-size: 20px;
    font-family:Spectral;
    font-weight: bolder;
    transition-duration:0.4s ;
}


.line2{
    font-size: 50px;
    font-family:Spectral;
    font-weight: bolder;
    color:#DE369D;
    transition-duration:0.4s ;
}
.line2:hover{
    font-size: 60px;
}

.line3{
    font-size: 25px;
    color:gray;
    transition-duration:0.4s ;
    font-weight: bolder;
}
.line3:hover{
    color:white;
}




.links>button{
    background-color:#FF8CC6 ;
    border-radius:25px;
    font-size:large;
    height:45px;
    border:none;
    transition-duration:0.4s;
    font-family: Rubik;

}

.links>button:hover{
    background-color:#DE369D;
    color:black;
}

a{
    color:black;
    text-decoration: none;
}

.mid{
    padding-left:50px;

}

#about{
    margin-top:-7px;
    padding-top:40px;
    text-align: center;
    background-color:rgb(33, 33, 33);
    display:flex;
    justify-content:center;
    color:black;
    font-size:xx-large;
    padding-bottom:60px;
}

.section2{
   
    width:80%;
    color:white;
    justify-items: center;
    
}
p{
    font-family:Spectral;
    font-size:24px;
}

h3{
    color:#ffdde2;
}
.short{
    width:15%;
    
     height:4px;
    background-color:#DE369D;
    border:none;
    
}


.shorter{
    width:15%;
    
    height:4px;
    background-color:#DE369D;
    border:none;
    
}

.cvbutton{
    background-color:#FF8CC6 ;
    border-radius:25px;
    font-size:large;
    width:140px;
    height:45px;
    border:none;
    transition-duration:0.4s;
    font-family: Rubik;
  
}


.cvbutton:hover{
    background-color:#ffdde2;
    color:black;
}

.but1{
    display:inline-block;
    font-weight:bold;
}


#projects{
    margin-top:-7px;
    padding-top:40px;
    text-align: center;
    background-color:black;
    display:flex;
    justify-content:center;
    color:black;
    font-size:xx-large;
    padding-bottom:60px;
}

.widthh{
    width:200px;
    margin:5px;
}

#contact{
        margin-top:-7px;
        padding-top:40px;
        text-align: center;
        background-color:rgb(33, 33, 33);
        display:flex;
        justify-content:center;
        color:black;
        font-size:xx-large;
        padding-bottom:60px;
    }

    .contact{
        font-size:10px;
    }

    

    .leftt{
        margin-left:-50px;
        text-align:left;
        width:40%;

        font-size:20px;


    }

    .rightt{
        box-shadow:black 6px 6px 6px ;
        border-radius:20px;
        margin-top:10px;
        margin-left:300px;
        padding-top:20px;
        width:50%;
        padding-bottom:15px;
font-size:30px;
background-color:#ffdde2;
    }

    input{
        font-size:15px;
        width:90%;
        border:1px solid grey;
        background-color:white;
        border-radius:20px;
        height:40px;
        padding-left:10px;
        margin:10px;
        transition-duration: 0.4s;
    }

    input:hover{
        
        height:50px;
        width:93%;
    }
    .query{
        background-color:#FF8CC6 ;
    border-radius:25px;
    font-size:large;
    width:140px;
    height:45px;
    border:none;
    transition-duration:0.4s;
    font-family: Rubik;
  
    }

    .query:hover{
        background-color:#DE369D;
    color:black;
    }

    h4{
        font-size:large;
        font-weight: light;
    }
